backcall==0.2.0
decorator==4.4.2
jedi==0.17.1
mccabe==0.6.1
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.7.4
scapy==2.4.3
six==1.15.0
traitlets==4.3.3
wcwidth==0.2.5
